<?xml version="1.0"?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration http://hibernate.org/xsd/hibernate-configuration/hibernate-configuration-4.0.xsd">	
	<session-factory>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="query.substitutions">length length,substr substr,true 1,false 0,yes
			'Y',no 'N'</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping resource="net/frank/framework/orm/Resource.hbm.xml" />
		<mapping resource="net/frank/framework/orm/SystemLog.hbm.xml" />
		<mapping resource="net/frank/framework/orm/SystemHistory.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Acl.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Type.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Account.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Group.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Account2Group.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Privilege.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Article.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Attach.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Image.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Comment.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Dictionary.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Unit.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Task.hbm.xml" />
		<mapping resource="net/frank/framework/orm/TaskToken.hbm.xml" />
		<mapping resource="net/frank/framework/orm/File.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Person.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Staff.hbm.xml" />
		<mapping resource="net/frank/framework/orm/Application.hbm.xml" />
		<mapping resource="net/frank/framework/orm/MenuItem.hbm.xml" />
	</session-factory>
</hibernate-configuration>
