<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengtong.smartlamppost.commons.mapper.AssetLampInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shengtong.smartlamppost.commons.entity.AssetLampInfo" >
    <id column="Lamp_ID" property="lampId" jdbcType="INTEGER" />
    <result column="Lamp_Code" property="lampCode" jdbcType="VARCHAR" />
    <result column="Lamp_Name" property="lampName" jdbcType="VARCHAR" />
    <result column="EquModel_ID" property="equmodelId" jdbcType="INTEGER" />
    <result column="EquClass_ID" property="equclassId" jdbcType="INTEGER" />
    <result column="EquSection_ID" property="equsectionId" jdbcType="INTEGER" />
    <result column="Group_ID" property="groupId" jdbcType="INTEGER" />
    <result column="Factory_ID" property="factoryId" jdbcType="INTEGER" />
    <result column="Date_Factory" property="dateFactory" jdbcType="BIGINT" />
    <result column="Gis_Pos_X" property="gisPosX" jdbcType="VARCHAR" />
    <result column="Gis_Pos_Y" property="gisPosY" jdbcType="VARCHAR" />
    <result column="Date_Created" property="dateCreated" jdbcType="BIGINT" />
    <result column="Date_Modified" property="dateModified" jdbcType="BIGINT" />
    <result column="Created_By" property="createdBy" jdbcType="VARCHAR" />
    <result column="Modified_By" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="Is_Available" property="isAvailable" jdbcType="INTEGER" />
    <result column="Supplement" property="supplement" jdbcType="VARCHAR" />
    <result column="Lamp_Addr" property="lampAddr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Lamp_ID, Lamp_Code, Lamp_Name, EquModel_ID, EquClass_ID, EquSection_ID, Group_ID, 
    Factory_ID, Date_Factory, Gis_Pos_X, Gis_Pos_Y, Date_Created, Date_Modified, Created_By, 
    Modified_By, Is_Available, Supplement, Lamp_Addr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shengtong.smartlamppost.commons.entity.AssetLampInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r_lamp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_lamp_info
    where Lamp_ID = #{lampId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_lamp_info
    where Lamp_ID = #{lampId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shengtong.smartlamppost.commons.entity.AssetLampInfo" >
    insert into r_lamp_info (Lamp_ID, Lamp_Code, Lamp_Name, 
      EquModel_ID, EquClass_ID, EquSection_ID, 
      Group_ID, Factory_ID, Date_Factory, 
      Gis_Pos_X, Gis_Pos_Y, Date_Created, 
      Date_Modified, Created_By, Modified_By, 
      Is_Available, Supplement, Lamp_Addr
      )
    values (#{lampId,jdbcType=INTEGER}, #{lampCode,jdbcType=VARCHAR}, #{lampName,jdbcType=VARCHAR}, 
      #{equmodelId,jdbcType=INTEGER}, #{equclassId,jdbcType=INTEGER}, #{equsectionId,jdbcType=INTEGER}, 
      #{groupId,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, #{dateFactory,jdbcType=BIGINT}, 
      #{gisPosX,jdbcType=VARCHAR}, #{gisPosY,jdbcType=VARCHAR}, #{dateCreated,jdbcType=BIGINT}, 
      #{dateModified,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, 
      #{isAvailable,jdbcType=INTEGER}, #{supplement,jdbcType=VARCHAR}, #{lampAddr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shengtong.smartlamppost.commons.entity.AssetLampInfo" >
    insert into r_lamp_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lampId != null" >
        Lamp_ID,
      </if>
      <if test="lampCode != null" >
        Lamp_Code,
      </if>
      <if test="lampName != null" >
        Lamp_Name,
      </if>
      <if test="equmodelId != null" >
        EquModel_ID,
      </if>
      <if test="equclassId != null" >
        EquClass_ID,
      </if>
      <if test="equsectionId != null" >
        EquSection_ID,
      </if>
      <if test="groupId != null" >
        Group_ID,
      </if>
      <if test="factoryId != null" >
        Factory_ID,
      </if>
      <if test="dateFactory != null" >
        Date_Factory,
      </if>
      <if test="gisPosX != null" >
        Gis_Pos_X,
      </if>
      <if test="gisPosY != null" >
        Gis_Pos_Y,
      </if>
      <if test="dateCreated != null" >
        Date_Created,
      </if>
      <if test="dateModified != null" >
        Date_Modified,
      </if>
      <if test="createdBy != null" >
        Created_By,
      </if>
      <if test="modifiedBy != null" >
        Modified_By,
      </if>
      <if test="isAvailable != null" >
        Is_Available,
      </if>
      <if test="supplement != null" >
        Supplement,
      </if>
      <if test="lampAddr != null" >
        Lamp_Addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lampId != null" >
        #{lampId,jdbcType=INTEGER},
      </if>
      <if test="lampCode != null" >
        #{lampCode,jdbcType=VARCHAR},
      </if>
      <if test="lampName != null" >
        #{lampName,jdbcType=VARCHAR},
      </if>
      <if test="equmodelId != null" >
        #{equmodelId,jdbcType=INTEGER},
      </if>
      <if test="equclassId != null" >
        #{equclassId,jdbcType=INTEGER},
      </if>
      <if test="equsectionId != null" >
        #{equsectionId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="dateFactory != null" >
        #{dateFactory,jdbcType=BIGINT},
      </if>
      <if test="gisPosX != null" >
        #{gisPosX,jdbcType=VARCHAR},
      </if>
      <if test="gisPosY != null" >
        #{gisPosY,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null" >
        #{dateCreated,jdbcType=BIGINT},
      </if>
      <if test="dateModified != null" >
        #{dateModified,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="supplement != null" >
        #{supplement,jdbcType=VARCHAR},
      </if>
      <if test="lampAddr != null" >
        #{lampAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shengtong.smartlamppost.commons.entity.AssetLampInfo" >
    update r_lamp_info
    <set >
      <if test="lampCode != null" >
        Lamp_Code = #{lampCode,jdbcType=VARCHAR},
      </if>
      <if test="lampName != null" >
        Lamp_Name = #{lampName,jdbcType=VARCHAR},
      </if>
      <if test="equmodelId != null" >
        EquModel_ID = #{equmodelId,jdbcType=INTEGER},
      </if>
      <if test="equclassId != null" >
        EquClass_ID = #{equclassId,jdbcType=INTEGER},
      </if>
      <if test="equsectionId != null" >
        EquSection_ID = #{equsectionId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        Group_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        Factory_ID = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="dateFactory != null" >
        Date_Factory = #{dateFactory,jdbcType=BIGINT},
      </if>
      <if test="gisPosX != null" >
        Gis_Pos_X = #{gisPosX,jdbcType=VARCHAR},
      </if>
      <if test="gisPosY != null" >
        Gis_Pos_Y = #{gisPosY,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null" >
        Date_Created = #{dateCreated,jdbcType=BIGINT},
      </if>
      <if test="dateModified != null" >
        Date_Modified = #{dateModified,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        Created_By = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        Modified_By = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        Is_Available = #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="supplement != null" >
        Supplement = #{supplement,jdbcType=VARCHAR},
      </if>
      <if test="lampAddr != null" >
        Lamp_Addr = #{lampAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where Lamp_ID = #{lampId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shengtong.smartlamppost.commons.entity.AssetLampInfo" >
    update r_lamp_info
    set Lamp_Code = #{lampCode,jdbcType=VARCHAR},
      Lamp_Name = #{lampName,jdbcType=VARCHAR},
      EquModel_ID = #{equmodelId,jdbcType=INTEGER},
      EquClass_ID = #{equclassId,jdbcType=INTEGER},
      EquSection_ID = #{equsectionId,jdbcType=INTEGER},
      Group_ID = #{groupId,jdbcType=INTEGER},
      Factory_ID = #{factoryId,jdbcType=INTEGER},
      Date_Factory = #{dateFactory,jdbcType=BIGINT},
      Gis_Pos_X = #{gisPosX,jdbcType=VARCHAR},
      Gis_Pos_Y = #{gisPosY,jdbcType=VARCHAR},
      Date_Created = #{dateCreated,jdbcType=BIGINT},
      Date_Modified = #{dateModified,jdbcType=BIGINT},
      Created_By = #{createdBy,jdbcType=VARCHAR},
      Modified_By = #{modifiedBy,jdbcType=VARCHAR},
      Is_Available = #{isAvailable,jdbcType=INTEGER},
      Supplement = #{supplement,jdbcType=VARCHAR},
      Lamp_Addr = #{lampAddr,jdbcType=VARCHAR}
    where Lamp_ID = #{lampId,jdbcType=INTEGER}
  </update>
</mapper>