<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
	<bean id="cacheService" class="net.frank.framework.service.impl.CacheServiceImpl"
		autowire="byName" />

	<bean id="queryService" class="net.frank.framework.service.impl.QueryServiceImpl"
		autowire="byName" />

	<bean id="resourceService" class="net.frank.framework.service.impl.ResourceServiceImpl"
		autowire="byName" />

	<bean id="cmsService" class="net.frank.framework.service.impl.CmsServiceImpl"
		autowire="byName" />
		
	<bean id="permissionService"
		class="net.frank.framework.service.impl.AclPermissionServiceImpl"
		autowire="byName" />
	
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager"/>
	
	<bean id="accountServiceService" class="net.frank.framework.service.impl.AccountServiceImpl"
		autowire="byName" />

	<bean id="coreService" class="net.frank.cms.service.impl.CoreServiceImpl"
		autowire="byName" />

	<bean id="selfService" class="net.frank.cms.service.impl.SelfServiceImpl"
		autowire="byName" />

	<bean id="typeRegistrationService" class="net.frank.cms.service.impl.TypeRegistrationServiceImpl"
		autowire="byName" />

	<bean id="adminService" class="net.frank.cms.service.impl.AdminServiceImpl"
		autowire="byName" >
		<property name="unitPhasePath" value="/phase/unit" />
	</bean>
	
	
	<!-- 
	<bean id="accountService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="accountServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="coreService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="coreTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="selfService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="selfTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="adminService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="adminTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="cmsService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="cmsServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="getResource*">readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	 -->
	<bean id="qingMaker" class="net.frank.framework.initial.QingMaker"
		autowire="byName" />

	<bean id="pageinatorDate" class="net.frank.framework.dao.paginator.PaginatorData"
		scope="prototype">
		<property name="pageSize" value="${project.global.paginator.default.size}" />
	</bean>

</beans>