<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<bean id="contentRenderProvider" class="net.frank.framework.web.taglib.content.ContentRenderProvider">
		<property name="typeRenderMap">
			<map>
				<entry key="default" value-ref="defaultRender" />
				<entry key="hidden" value-ref="hiddenRender" />
				<entry key="java.util.Date" value-ref="dateRender" />
				<entry key="java.lang.Boolean" value-ref="booleanRender" />
				<entry key="[C" value-ref="clobRender" />
				<entry key="[B" value-ref="blobRender" />
				<entry key="net.frank.framework.bo.Resource" value-ref="boRender" />
				<entry key="net.frank.framework.bo.Image" value-ref="imageRender" />
			</map>
		</property>
	</bean>
	<bean id="defaultRender" class="net.frank.framework.web.taglib.content.type.impl.DefaultRenderImpl" />
	<bean id="hiddenRender" class="net.frank.framework.web.taglib.content.type.impl.HiddenRenderImpl" />
	<bean id="dateRender" class="net.frank.framework.web.taglib.content.type.impl.DateRenderImpl" />
	<bean id="booleanRender" class="net.frank.framework.web.taglib.content.type.impl.BooleanRenderImpl" />
	<bean id="clobRender" class="net.frank.framework.web.taglib.content.type.impl.ClobRenderImpl" />
	<bean id="blobRender" class="net.frank.framework.web.taglib.content.type.impl.BlobRenderImpl" />
	<bean id="boRender"
		class="net.frank.framework.web.taglib.content.type.impl.BusinessObjectRenderImpl"
		autowire="byName" />
	<bean id="imageRender" class="net.frank.content.type.ext.ImageRenderImpl"
		autowire="byName" />
</beans>