<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<bean id="wsRenderProvider" class="net.frank.framework.ws.WsRenderProvider">
		<property name="wsRenderMap">
			<map>
				<entry key="default" value-ref="defaultWsRender" />
				<entry key="java.lang.Integer" value-ref="integerWsRender" />
				<entry key="java.lang.Byte" value-ref="byteWsRender" />
				<entry key="java.math.BigDecimal" value-ref="bigDecimalWsRender" />
				<entry key="java.lang.Boolean" value-ref="booleanWsRender" />
				<entry key="java.util.Date" value-ref="timeWsRender" />
				<entry key="java.lang.Long" value-ref="longWsRender" />
				<entry key="[C" value-ref="clobWsRender" />
				<entry key="[B" value-ref="blobWsRender" />
				<entry key="net.frank.framework.bo.Resource" value-ref="resourceWsRender" />
				<entry key="defaultResourceRef" value-ref="defaultResourceRefRender" />
				<entry key="net.frank.framework.bo.BusinessObject" value-ref="boWsRender" />
				<entry key="net.frank.framework.ws.define.WsAaInfo" value-ref="wsAaInfoRender" />
				<entry key="net.frank.framework.ws.define.WsRequest" value-ref="wsRequestRender" />
				<entry key="net.frank.framework.ws.define.WsResponse" value-ref="wsResponseRender" />
				<entry key="net.frank.framework.ws.define.WsRegister" value-ref="wsRegisterRender" />
			</map>
		</property>
	</bean>
	
	<bean id="boXmlUtil" class="net.frank.framework.ws.process.BoXmlUtil" autowire="byName" />
	
	<bean id="defaultWsRender" class="net.frank.framework.ws.render.DefaultWsRender" autowire="byName" />
	
	<bean id="integerWsRender" class="net.frank.framework.ws.render.type.IntegerTypeRender" autowire="byName"/>
																	
	<bean id="bigDecimalWsRender" class="net.frank.framework.ws.render.type.BigDecimalTypeRender" autowire="byName" />
	
	<bean id="booleanWsRender" class="net.frank.framework.ws.render.type.BooleanTypeRender" autowire="byName" />
	<!-- 
	<bean id="dateWsRender" class="net.frank.framework.ws.render.type.DateTypeRender" autowire="byName" />
	 -->
	<bean id="timeWsRender" class="net.frank.framework.ws.render.type.TimestameTypeRender" autowire="byName" />
	
	<bean id="longWsRender" class="net.frank.framework.ws.render.type.LongTypeRender" autowire="byName" />
	
	<bean id="byteWsRender" class="net.frank.framework.ws.render.type.ByteTypeRender" autowire="byName" />
	
	<bean id="clobWsRender" class="net.frank.framework.ws.render.type.ClobTypeRender" autowire="byName" />
	
	<bean id="blobWsRender" class="net.frank.framework.ws.render.type.BlobTypeRender" autowire="byName" />
	
	<bean id="resourceWsRender" class="net.frank.framework.ws.render.type.ResourceTypeRender" autowire="byName" />
	
	<bean id="defaultResourceRefRender" class="net.frank.framework.ws.render.type.ResourceRefRender" autowire="byName" />
	
	<bean id="boWsRender" class="net.frank.framework.ws.render.type.BoTypeRender" autowire="byName"/>
	
	<bean id="wsAaInfoRender" class="net.frank.framework.ws.render.type.WsAaInfoTypeRender" autowire="byName"/>
	
	<bean id="wsRequestRender" class="net.frank.framework.ws.render.type.WsRequestTypeRender" autowire="byName"/>
	
	<bean id="wsResponseRender" class="net.frank.framework.ws.render.type.WsResponseTypeRender" autowire="byName"/>
	
	<bean id="wsRegisterRender" class="net.frank.framework.ws.render.type.WsRegisterTypeRender" autowire="byName"/>
	
</beans>