<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	
	<bean id="baseDao" class="net.frank.framework.dao.hibernate.BaseDaoHibernate" autowire="byName" />
	
	<bean id="baseJdbcDao" class="net.frank.framework.dao.impl.BaseJdbcDaoImpl" autowire="byName" />
	
	<bean id="typeDao" class="net.frank.framework.dao.hibernate.TypeDaoHibernate" autowire="byName" />

	<bean id="resourceDao" class="net.frank.framework.dao.hibernate.ResourceDaoHibernate" autowire="byName" />
	
	<bean id="account2GroupDao" class="net.frank.framework.dao.hibernate.Account2GroupDaoHibernate" autowire="byName" />
	
	<bean id="accountDao" class="net.frank.framework.dao.hibernate.AccountDaoHibernate" autowire="byName" />
	
	<bean id="privilegeDao" class="net.frank.framework.dao.hibernate.PrivilegeDaoHibernate" autowire="byName" />
	
	<bean id="systemHistoryDao" class="net.frank.framework.dao.hibernate.SystemHistoryDaoHibernate" autowire="byName" />
	
	<bean id="aclDao" class="net.frank.framework.dao.hibernate.AclDaoHibernate" autowire="byName" />
	
</beans>