<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- 
	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logFileName</key>
			<defaultValue>daemon</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>/Users/zhaofeng/projects/frank/logs/jobs/${logFileName}.log
				</file>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} %mdc [%thread] %-5level
						%logger{36} - %msg%n
					</Pattern>
				</encoder>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>logback.log.%i.bak</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>100</MaxIndex>
				</rollingPolicy>
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>10MB</MaxFileSize>
				</triggeringPolicy>
			</appender>
		</sift>
	</appender>
 	-->
	<logger name="net.frank.yangtes.modules.zkc" level="TRACE" />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>